*{
    margin: 0;
    padding: 0;
}

/* Global CSS */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.primary-color{
    color: #30B868 !important;

}

.secondary-color{
    color: #627382;

}

.primary-btn{
    background-color: #30B868;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 16.5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.secondary-btn{
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 16.5px;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
}

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}

.image-list {
  list-style-image: url("../assets/CheckCircle.png");
}

/* Regular CSS */

header{
    margin: 16px 120px;
}

nav{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu, .header-button{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a,  .header-button{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    background: url(../assets/hero-bg.png);
    padding: 115px 120px 180px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-content{
    text-align: center;
}

#banner .banner-content p.bg-p{
    background-color: #fff;
    padding: 8px 12px;
    display: inline;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}

#banner .banner-content h1{
    color: #fff;
    margin-top: 16px;
    font-size: 72px;
    font-weight: bold;
    opacity: 90%;
}

#banner .banner-content p.banner-p{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
}

.banner-btn{
    margin-top: 32px;
    display: inline-flex;
    gap: 16px;
}

#notes .section-heading{
    max-width: 1360px;
    text-align: center;
}

#notes .section-heading h2{
    margin-top: 60px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#notes .section-heading p{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}

#notes .notes-container .notes-items {
    display: flex;
    gap: 24px;
}

.notes-items .notes-card {
    text-align: center;
    margin-top: 44px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.notes-card img {
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    max-width: 44px;
    margin: 35px 0px 16px 0;
}

.notes-card h3 {
    font-size: 20px;
    color: #001931;
    margin-bottom: 20px;
}

.notes-card p {
    font-size: 16px;
    color: #627382;
    line-height: 28px;
}

#second-brain {
    margin: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#second-brain .second-brain-content {
    max-width: 600px;
}

#second-brain .second-brain-content p.primary-color {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

#second-brain .second-brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 5px;
}

#second-brain .second-brain-content p {
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    margin-bottom: 40px;
}

#second-brain .second-brain-content ul{
    margin-left: 25px;
}

#second-brain .second-brain-content ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}

#second-brain .second-brain-image img {
    max-width: 600px;
    vertical-align: middle;
}

#early-access .early-access-container {

    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 0px;
    margin: 0 120px 120px 120px;
}

#early-access .early-access-container .early-access-btn {
    display: flex;
    justify-content: space-around;
}

#early-access h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

#early-access p{
    font-size: 16px;
    margin-bottom: 16px;
    color: #627382;
    line-height: 24px;
}

#early-access .early-access-btn{
    margin-bottom: 16px;
}